---
import Layout from '../layouts/Layout.astro';
import Tty from '../components/bgtty.astro';
---

<Layout title="">

	<main class="h-screen flex flex-row mx-8 overflow-y-hidden">
		<div class="flex flex-col justify-center">
			<div class="pointer-events-none z-10">
				<Tty section="HTML"/>
			</div>
		</div>
		<div class="flex flex-col justify-center hc">
			<div class="pointer-events-none z-0 translate-x-36 shadow-inherit">
				<div class="heart drop-shadow-lg blur-sm"></div>
				<!-- <div class="shadow1"></div>
				<div class="shadow2"></div>
				<div class="shadow3"></div> -->
			</div>
		</div>

	</main>
</Layout>