---
import Layout from '../layouts/Layout.astro';
import Tty from '../components/bgtty.astro'
---

<Layout title="">

	<main class="h-screen flex flex-row mx-8 overflow-y-hidden">
		<div class="flex flex-col justify-center pointer-events-none">
			<Tty section="HTML"/>
		</div>
	</main>
</Layout>