---
export interface Props {
	section: string;
    user: string;
}
const { section, user = "Anon" } = Astro.props;
---

<h2 id="section" class=" text-3xl bg-slate-800 rounded-md p-5 m-5 shadow-xl pointer-events-none text-rose-200" style=";background: linear-gradient(118deg, rgba(103,94,125,0.1) 0%, rgba(30,41,59,0.1) 100%);">
    <span class="bg-clip-text text-transparent text-9xl p-1" style="background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(237,10,107,0.9) 0%, rgba(209,52,192,0.9) 90% );">
        Šťastný Valentýn1
    </span>
</h2>
